**/.DS_Store
**/__pycache__
**/.venv
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.vscode
**/.pytest_cache
.coverage
.flake8
.pre-commit-config.yaml
Makefile
mypy.ini
LICENSE
README.md
