# Backend
BACKEND_CORS_ORIGINS=http://localhost:5173

# Celery
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_BACKEND_URL=redis://127.0.0.1:6379/0

# Reader
READER_URL=http://localhost:9090
# > Reader settings for local development
READER_SOURCE_DATA=../slides
READER_TARGET_DATA=/mnt                                   # Docker container mount path (not need to be modified)
READER_MEM_SOURCE=../slides/.cache
READER_MEM_TARGET=/tmp/reader/                            # Docker container mount path (not need to be modified)

# Postgres
POSTGRES_SERVER=localhost:5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=annotaid

# Models
NUCLICK_MODEL_PATH=./models/nuclick_40x.pth
MC_FIRST_STAGE_MODEL_PATH=./models/MC_first_stage.pt
MC_SECOND_STAGE_MODEL_PATH=./models/MC_second_stage.pt
NP_MODEL_PATH=./models/NP_model.pt
